<div class="container" id="chat-window">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6" id="message-window">
      <div class="messages" style="overflow:scroll;"></div>
      <form id="query-form" class="input-group mt-auto" onsubmit="return false;">
          <input id="query-text-field" type="text" class="form-control" placeholder="Type a query" aria-label="Query" name="q">
          <div class="input-group-append">
            <button class="btn btn-primary" id="send-btn"><i class="fa fa-paper-plane"></i></button>
          </div>
        </form>
    </div>
  </div>
</div>